@import "tailwindcss";

@theme {
  --color-white: #fff;
  --color-black: #19191a;
  --color-black-100: #202223;
  --color-gray: #4f4e4d;
  --color-gray-100: #3e3e3e;
  --color-gray-200: #f4f4f4;
  --color-blue: #198cfa;
  --color-green: #46ed95;
  --color-yellow: #ffd117;
  --color-red: #ff576f;
}
