---
import BaseLayout from "@layouts/BaseLayout.astro";
import Main from "@components/Main.astro";
import Hero from "@components/Hero.astro";
const pageTitle = "404";
---

<BaseLayout pageTitle="404">
  <Main>
    <Hero
      headline={pageTitle}
      statusClass="text-red"
      status="Page not found."
    />
  </Main>
</BaseLayout>
