---
import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Grid from "@components/Grid.astro";
import Hero from "@components/Hero.astro";
import Panel from "@components/Panel.astro";
import Section from "@components/Section.astro";
import Information from "@components/Information.astro";
import Backgrounds from "@components/Backgrounds.astro";
const pageTitle = "404";
---

<BaseLayout pageTitle="404">
  <Header />
  <Grid>
    <Hero
      headline={pageTitle}
      statusClass="text-red"
      status="The page you are looking for does not exist."
    />
    <Panel>
      <Section headline="Oops!">
        <p>
          Please check the URL or return to the <a href="/">homepage</a>.
        </p>
      </Section>
      <Information />
    </Panel>
    <Backgrounds currentGame="" />
  </Grid>
</BaseLayout>
