---
import Section from "@components/Section.astro";
import Globe from "@assets/img/globe.svg";
import Person from "@assets/img/person.svg";

interface Props {
  location: string;
  joined: string;
}

const { location, joined } = Astro.props;
---

<Section headline="Biography">
  <ul class="max-w-max flex max-md:flex-col md:items-center gap-6 max-md:gap-2">
    {
      location && (
        <li class="flex items-center gap-2">
          <Globe width={13} height={14} aria-hidden="true" />
          Located in the <span class="text-blue">{location}</span>
        </li>
      )
    }
    {
      joined && (
        <li class="flex items-center gap-2">
          <Person width={13} height={14} aria-hidden="true" />
          Joined Steam on{" "}
          <time
            class="text-blue"
            datetime={new Date(parseInt(joined) * 1000).toISOString()}
          >
            {new Date(parseInt(joined) * 1000).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </time>
        </li>
      )
    }
  </ul>
  <p class="max-w-prose">
    In 2004, Jacob Proffer joined the PC gaming community with Counter Strike:
    Condition Zero and Counter Strike: Source. Returning full-time to PC gaming
    in 2016, he plays first person shooter and zombie themed games, such as Arma
    3 and Left 4 Dead 2.
  </p>
</Section>
