---
import { Image } from "astro:assets";
import Section from "@components/Section.astro";
import playTime from "@utils/playTime.js";
import { getGameHeaderImageUrl } from "@utils/steamAPI.js";
import type { OwnedGame } from "../types/steam";

interface Props {
  games: OwnedGame[];
}

const { games } = Astro.props;
---

<Section headline="Favorite Games">
  {
    games.length > 0 ? (
      <ul class="grid grid-cols-2 items-center gap-4 max-w-max">
        {games
          .slice(0, 2)
          .filter((game) => game.name && game.appid)
          .map((game) => (
            <li>
              <Image
                class="border border-gray rounded-lg"
                src={getGameHeaderImageUrl(game.appid)}
                alt={game.name || "Unknown Game"}
                width={460}
                height={215}
                loading="eager"
              />
              <p class="text-sm text-center mt-2">
                {playTime(game.playtime_forever ?? 0)} played
              </p>
            </li>
          ))}
      </ul>
    ) : (
      <p class="text-gray">No games data available</p>
    )
  }
</Section>
