---
import { Image } from "astro:assets";
import Logo from "@assets/img/logo.svg";

interface Props {
  userURL?: string;
  userAvatar?: string;
}

const { userURL, userAvatar } = Astro.props;
---

<header
  class="absolute top-0 left-0 z-30 flex items-center justify-between w-full xl:w-1/2 h-auto py-4 px-6"
>
  <a
    href="#main-content"
    class="absolute -top-full left-1/2 p-4 bg-black border border-gray rounded-lg -translate-x-1/2 transition-top ease-in-out focus:top-4 focus:outline-1 focus:outline-blue focus:outline-solid transition-all"
    >Skip to main content</a
  >
  <a
    href="/"
    class="flex items-center gap-2 text-white hover:text-green focus:outline-1 focus:outline-blue focus:outline-solid transition-colors"
    aria-label="Go to home page"
  >
    <Logo width={50} height={33} />
  </a>
  {
    userURL && (
      <a
        class="flex items-center gap-2 underline hover:text-green focus:outline-1 focus:outline-blue focus:outline-solid transition-colors"
        href={userURL}
        target="_blank"
        rel="noopener noreferrer"
      >
        {userAvatar && (
          <Image
            class="w-10 h-10 rounded-full"
            src={userAvatar}
            alt=""
            width={40}
            height={40}
            loading="eager"
          />
        )}
        View Steam Profile
      </a>
    )
  }
</header>
