---
interface Props {
  headline: string;
}

const { headline } = Astro.props;
---

<section class="flex flex-col gap-4 p-6 bg-black-100 rounded-md">
  {headline && <h2 class="text-4xl">{headline}</h2>}
  <slot />
</section>
