---
import "@styles/global.css";
import SiteSEO from "@components/SiteSEO.astro";

interface Props {
  pageTitle: string;
  pageDescription?: string;
}

const { pageTitle, pageDescription } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <SiteSEO seo={{ title: pageTitle, description: pageDescription }} />
  </head>
  <body class="h-screen text-white bg-black">
    <div class="relative h-full">
      <slot />
    </div>
  </body>
</html>
